#list{
    padding:5px;
    height: 500px;
    min-width: 390px;
    width: auto;
    overflow:auto;
    border: solid 1px grey;
}
.shopping-item {
    height: auto;
    border: solid 1px grey;
    background-color: white;
    margin: 5px;
    padding: 10px;
    word-wrap:break-word;
    width: 370px;
}
.quantityTotal{
    float: right;
    font-weight:bold;
    color:orange
}
#list{
    position:sticky;

}